.r-r-l{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.r-l-c{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.c-c-c{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.c-u-d{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.r-s-b{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.r-s-a{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.r-s-w{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.c-l-c{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.warp{
  flex-wrap: wrap;
}
