$content-width:1200px; //内容宽度
$main-color:rgba(214,185,120,1);//主题色
$mobile-width:90%;//手机模式的内容宽度
.content{
  overflow: auto;
  min-width:$content-width;
  @media only screen and (max-width: 768px) {
    min-width: 320px;
  }
  min-height: calc(100vh - 195px);
  width: 100%;
  margin-top: 60px;
  background:rgba(245,245,245,1);
  padding-bottom: 15px;
  .clear{
    height: 30px;
  }
  .content-info{
    width: $content-width;
    @media only screen and (max-width: 768px) {
      width: $mobile-width;
    }
    margin: 0 auto;
    .left{
      width: 25%;
      @media only screen and (max-width: 768px) {
        width: 100%;
      }
      height: 70vh;
      background-color: #fff;
      padding: 0 3%;
      .left-title,.left-item,.left-foot{
        width: 100%;
        height: 12.5%;
        font-size: 1rem;
        font-weight: 400;
      }
      .left-title{
        color: $main-color;
        border-bottom:1px solid rgba(237,237,237,1);
        font-weight: 500;

      }
      .left-foot{
        border-top:1px solid rgba(237,237,237,1);
      }
    }
    .right{
      width:67%;
      @media only screen and (max-width: 768px) {
        width: 100%;
        margin-top: 20px;
      }
      min-height:70vh;
      background-color: #fff;
      .right-title{
        padding: 0 5%;
        border-bottom:1px solid rgba(237,237,237,1);
        margin: 0 auto;
        width: 80%;
        height: 80px;
        font-size:1rem;
        font-weight:500;
        color:rgba(51,51,51,1);
        line-height:22px;
      }
      .right-info{
        text-align: left;
        padding: 10px 5%;
        font-size:0.875rem;
        font-weight:400;
        color:rgba(51,51,51,1);
        line-height:20px;
      }
    }
  }

}
.total{
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height:20px;
  width: 40px;
  background:rgba(27,28,30,1);
  border-radius:10px;
  color: #D6B978 !important;
}
.total-item{
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width:40px;
  height:20px;
  background:rgba(214,185,120,1);
  border-radius:10px;
  color: #ffffff;
}
